@charset "utf-8";

/* CSS Document */

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Arial,Arial,Helvetica,sans-serif";
    font-size: 14px;
    line-height: 10px;
    margin: 0;
    padding: 0;
}


/* MENU TRÊN */

header {
    background-color: #88b77b;
    top: 0;
    margin: 0 auto;
    border-bottom: solid 3px #ede9d0;
    height: 50px;
    position: relative;
}

header img {
    position: absolute;
    left: 200px;
	top:2px;
}

.header-tt {
    position: absolute;
    line-height: 20px;
    left: 255px;
    top: 5px;
    color: #FFF;
}

.header-tt a {
    color: #FFF;
}

.header-tt a:hover {
    color: tomato;
}


/* END HEADER */


/*                        đăng nhâp                */

.header-login {
    position: absolute;
    right: 220px;
    padding: 20px;
    color: #FFF;
}

.header-login a {
    color: #FFF
}

.header-login a:hover {
    color: tomato;
}

h4 {
    padding: 2px;
    float: right;
    margin-right: 50px;
    color: #CCC;
}

h4 a {
    color: rgba(7, 4, 4, 0.199);
    text-decoration: none;
}

h4 a:hover {
    color: #999;
    text-decoration: underline;
}


/*                     Phần NAV (MENU)               */

nav {
    width: 100%;
    height: 100px;
    background-color: white;
	border-bottom:1px solid #999;

}

.logo {
    width: 30%;
    margin-left: 180px;
}

.menu {
    background-color: white;
    width: 85%;
}

.menu ul {
    list-style: none;
}

.menu ul li {
    padding: 18px;
    margin-top: 25px;
    text-align: center;
    float: right;
    position: relative;
}

.menu ul li a {
    display: block;
    color: orangered;
    text-decoration: none;
    width: 130px;
    font-size: 15px;
}

.menu ul li a:hover {
    color: rgb(15, 14, 14);
}


/*                 Phần nội dung                              */

.content {
    height: 500px;
    margin: 0 auto;
    padding: 0px;

}

aside {
    width: 100%;
    height: 310px;
}

aside img {
    width: 100%;
    height: 300px;
}

section {
    width: 100%;
    height: 400px;
}

section h1 {
    color: orangered;
    margin: auto;
    text-align: center;
}


/*chân website */

#footer {
    font-family: "Comic Sans MS";
    float: left;
    width: 100%;
    height: 80px;
    border-top: 4px solid #ff6a80;
    color: #9e9e9e;
    background-color: #212121;
    line-height: 15px;
}

#footer a {
    margin-left: 3px;
}

#footer p {
    text-align: left;
    margin: 0;
    padding-top: 5px;
    font-size: 15px;
    margin-left: 10px;
}

#footer-right {
    color: #ff6a80;
    float: right;
    font-style: italic;
    padding-right: 15px;
}

#footer p a {
    color: #9e9e9e;
    text-decoration: none;
    font-size: 15px;
}

#footer p a:hover {
    color: #ff6a80;
}

.phan2 a {
    color: #f8f3f3;
    font-size: 15px;
    text-decoration: none;
    float: left;
}

.phan2 a:hover {
    color: #ff6a80;
}


/*                          LOGIN                    */

.login-box {
    border: 1px solid white;
    position: absolute;
    top: 400px;
    left: 750px;
    width: 540px;
    padding: 40px;
    transform: translate(-50%, -50%);
    background: white;
    box-shadow: 0 15px 25px rgba(0, 0, 0, .6);
    border-radius: 15px;
}

.login-box h2 {
    margin: 0 0 30px;
    padding: 0;
    color:tomato;
    text-align: center;
}

.login-box .user-box {
    position: relative;
}

.login-box .user-box input {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: rgb(6, 6, 6);
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid tomato;
    outline: none;
    background: transparent;
}


#nut{
	width:100%;
	height:30px;
	background:#88b77b;
	border-radius:15px;
}

.login-box .user-box input:focus~label,
.login-box .user-box input:valid~label {
    top: -20px;
    left: 0;
    color: #03e9f4;
    font-size: 12px;
}

.login-box form a{
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    color: #03e9f4;
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: .5s;
    margin-top: 40px;
    letter-spacing: 4px
}

.login-box a:hover {
    background: #03e9f4;
    color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 5px #03e9f4, 0 0 25px #03e9f4, 0 0 50px #03e9f4, 0 0 100px #03e9f4;
}

.login-box a span input {
    position: absolute;
    display: block;
}


